@font-face {
    font-family: Lato-300;
    src: url(/assets/fonts/Lato-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: Lato-400;
    src: url(/assets/fonts/Lato-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Lato-700;
    src: url(/assets/fonts/Lato-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: Lato-900;
    src: url(/assets/fonts/Lato-Black.ttf);
    font-style: normal;
}

header {
    height: 89px;
    width: 1020px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2f39;
    border-bottom: 6px solid #323746;
}

.logo {
    font-family: 'Lato-700', sans-serif;
    font-size: 25px;
    /* font-weight: 700; */
    letter-spacing: 0px;
    color: #ffffff;
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    display: flex;
}

.navbar {
    width: 371px;
    display: flex;
    align-items: center;
    margin: 8px 40px 0px 0px ;
}

.navbar ul {
    font-family: 'Lato-700', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

nav p {
    color: #494e62;
}

.slider {
    height: 594px;
    width: 1020px; 
    background-image: url(/assets/images/singolo1.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chev {
    margin-bottom: 4px;
}

.services {
    height: 494px;
    width: 1020px;
    background-color: #f1f1f1;
    border-top: 6px solid #ea676b;
    border-bottom: 6px solid #ffffff;
    

} 

.services .content {
    padding: 62px 20px 10px 39px;
}

.services h1 {
    font-family: 'Lato-900', sans-serif;
    font-size: 30px;
    /* font-weight: 900; */
    color: #666d89;
    padding-bottom: 21px;

}

.services p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-300";
    /* font-weight: 300; */
    text-align: left;
    letter-spacing: 0.009em;
}

.services .second {
    letter-spacing: 0em;
}

.layout {
    padding: 35px 41px 3px 40px;
    display: flex;
    justify-content: space-between;
}


.layout>div {
    display: flex;
    align-items: flex-start;
}

.layout h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-900";
    /* font-weight: 900; */
    text-align: left;
}

.layout p {
    width: 220px;
    height: 58px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-400";
    /* font-weight: 400; */
    text-align: justify;
    letter-spacing: 0px;
    padding-top: 10px;
}

.layout .inner {
    padding-left: 19px;
}