header {
    height: 196px;
    width: 1020px;
    background-color: #2d2f39;
}

h2 {
    display: inline-block;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 69px 39px 19px 39px;
}

p {
    width: 940px;
    height: 40px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 8px 39px 0px 40px;
} 

nav {
    display: flex;
    margin-left: 42px;
    width: 287px;
    justify-content: space-between;
}

nav a {
    display: inline-block;
    padding: 0px 6px 0px 6px;
    border:1px solid #656d89;
    border-radius: 6px;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

a:hover {
    border-color: white;
    color: white;
}

.wrapper {
    width: 1020px;
    height: 668px;
    background-color: #2d2f39;
    border-bottom: 6px solid #313745;
}

.pictures {
    width: 940px;
    height: 601px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

img:nth-child(n+13) {
    display: none;
}

.down-block {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.first-string {
    margin: 8px 39px 0px 40px;
    letter-spacing: 0.15px;
    height: 30px;
}

.second-string {
    margin: 0px 39px 0px 40px;
    height: 25px;
}

.photo {
    display:flex;
    justify-content: space-between;
    width: 940px;
    height: 300px;
    margin: 49px 40px 0px 40px;
    background-color: #f2f2f2;
}

.photo3 {
    margin-left: 2px;
}

.about {
    height: 485px;
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 300px;
    height: 45px;
    font-size: 18px;
    line-height: 53px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.txt {
    width: 300px;
    height: 50px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.adam {
    letter-spacing: -0.1px;
}

.desmond {
    letter-spacing: 0.08px;
}

.scolara {
    letter-spacing: 0.09px;
    margin-left: 2px;
}

.social {
    margin-top: 15px;
    display: flex;
    width: 154px;
    justify-content: space-between;
}

.social a:active {
    border-top: 3px solid #f2f2f2;
}

.social.scolara {
     margin-left: 1px;
}