html {
  scroll-behavior: smooth;
}

.first-page header {
  height: 89px;
  width: 100%;
  max-width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2d2f39;
  border-bottom: 6px solid #323746;
  /*  */
  position: fixed;
  z-index: 20;
}

.first-page .burger img {
  position: fixed;
  top: 27px;
  left: 13px;
  z-index: 1;
  cursor: pointer;
  width: 25px;
}

.first-page .logo {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  width: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-page .logo h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-page .navbar {
  width: 372px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 24px 0px 0px;
}

.first-page .navbar ul {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
}

.first-page .navbar ul li a {
  text-decoration: none;
  color: white;
}

.first-page .navbar ul li a.active {
  color: #f06c64;
}

.first-page .navbar ul li a:not(.active):hover {
  color: #767e9e;
}

.first-page nav p {
  color: #494e62;
}

.first-page .wrapper-slider {
  height: 695px;
  width: 100%;
  max-width: 1020px;
  position: relative;
  overflow: hidden;
}

.first-page .slider {
  height: 594px;
  width: 100%;
  max-width: 1020px;
  overflow: hidden;
  background-color: #ef6c64;
  position: absolute;
  top: 95px;
  border-bottom: 6px solid #ea676b;
}

.first-page .phone-left {
  position: absolute;
  top: 53px;
  left: 112px;
}

.first-page .phone-right {
  position: absolute;
  top: 174px;
  right: 96px;
}

.first-page .wrapper-slider .turn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-page .wrapper-slider .left-off {
  position: absolute;
  display: block;
  width: 188px;
  height: 333px;
  top: 213px;
  left: 126px;
  background-color: black;
}

.first-page .wrapper-slider .right-off {
  position: absolute;
  display: block;
  width: 333px;
  height: 188px;
  top: 283px;
  right: 187px;
  background-color: black;
}

.first-page .chev-left img {
  position: absolute;
  cursor: pointer;
  left: 42px;
  top: 376px;
}

.first-page .chev-right img {
  position: absolute;
  cursor: pointer;
  right: 25px;
  top: 376px;
}

.first-page .slide2 {
  display: block;
  position: absolute;
  top: 95px;
  height: 606px;
  max-width: 1020px;
  width: 100%;
}

.first-page .slide2 img {
  display: block;
  position: absolute;
  height: 606px;
  width: 100%;
}

.first-page .services {
  height: auto;
  width: 100%;
  max-width: 1020px;
  background-color: #f1f1f1;
  border-bottom: 6px solid #ffffff;
}

.first-page .services .content {
  padding: 62px 20px 17px 39px;
}

.first-page .services h1 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  padding-bottom: 21px;
}

.first-page .services p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.009em;
  overflow: hidden;
}

.first-page .layout {
  padding: 29px 26px 29px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-page .layout > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.first-page .layout h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: left;
}

.first-page .layout p {
  max-width: 220px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.first-page .layout .inner {
  padding-left: 19px;
}

/* second page */
.shift {
  position: relative;
  top: -75px;
}

.second-page header {
  height: auto;
  width: 100%;
  max-width: 1020px;
  background-color: #2d2f39;
}

.second-page h2 {
  display: inline-block;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 69px 39px 19px 39px;
}

.second-page p {
  max-width: 940px;
  width: auto;
  height: auto;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin: 8px 39px 0px 40px;
}

.second-page nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 42px 9px 42px;
  max-width: 287px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-page nav a {
  display: inline-block;
  padding: 0px 6px 0px 6px;
  border: 1px solid #656d89;
  border-radius: 6px;
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.second-page nav a.active {
  border-color: white;
  color: white;
}

.second-page a:hover {
  cursor: pointer;
  color: #06aaa2;
}

.second-page .wrapper {
  max-width: 1020px;
  width: 100%;
  height: auto;
  background-color: #2d2f39;
  border-bottom: 6px solid #313745;
}

.second-page .pictures {
  height: auto;
  margin: 0 22px 56px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-page .pictures img {
  display: inline-block;
  cursor: pointer;
  margin: 4px 0 6px 0;
  border: 5px solid #2d2f39;
}

.second-page .pictures img.active {
  display: inline-block;
  border: 5px solid #F06C64;
}

.second-page img:nth-child(n+13) {
  display: none;
}

.second-page .down-block {
  width: 100%;
  max-width: 1020px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.second-page .about-us {
  width: 100%;
  max-width: 1020px;
}

.second-page .first-string {
  margin: 8px 39px 0px 40px;
}

.second-page .second-string {
  margin: 0px 39px 0px 40px;
  height: 25px;
}

.second-page .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 940px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 49px 40px 0px 40px;
  background-color: #f2f2f2;
}

.second-page .photo3 {
  margin-left: 2px;
}

.second-page .about {
  height: 485px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 40px) /3);
  height: auto;
  margin-bottom: 23px;
}

.second-page .about img {
  width: 100%;
  height: auto;
}

.second-page h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: 45px;
  font-size: 18px;
  line-height: 53px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.second-page .txt {
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}

.second-page .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 154px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-page .social {
  display: none;
}

.second-page .social.scolara {
  margin-left: 1px;
}

.second-page .soc > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px 64px 40px;
}

.second-page .soc > ul > li {
  display: inline-block;
  width: calc((100% - 40px) / 3);
}

/* third page */
.third-page .background {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1020px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.third-page .wrapper {
  max-width: 940px;
  padding: 68px 25px 28px 40px;
}

.third-page header h2 {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-bottom: 28px;
}

.third-page header p {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
}

.third-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-page form {
  width: calc((100%-20px)*0.66);
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 428px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-page .contact {
  width: calc((100%-20px)*0.32);
  margin-top: 44px;
}

.third-page .contact h2 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.third-page .contact p {
  display: inline-block;
  margin-top: 9px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.03px;
}

.third-page .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
}

.third-page .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 14px;
  height: 60px;
  margin-top: 2px;
}

.third-page .info {
  display: block;
  width: 130px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  border-left: 20px;
}

.third-page .info a {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  border-left: 20px;
}

.third-page input {
  display: block;
  height: 32px;
  border: 2px solid #d5554f;
  border-radius: 5px;
  padding-left: 13px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  background-color: #d5554f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.third-page input::-webkit-input-placeholder {
  color: #f48c8f;
}

.third-page input:-ms-input-placeholder {
  color: #f48c8f;
}

.third-page input::-ms-input-placeholder {
  color: #f48c8f;
}

.third-page input::placeholder {
  color: #f48c8f;
}

.third-page textarea {
  border: 2px solid #d5554f;
  padding: 0px 0 0 13px;
  resize: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  background-color: #d5554f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.third-page textarea::-webkit-input-placeholder {
  color: #f48c8f;
  padding-top: 4px;
}

.third-page textarea:-ms-input-placeholder {
  color: #f48c8f;
  padding-top: 4px;
}

.third-page textarea::-ms-input-placeholder {
  color: #f48c8f;
  padding-top: 4px;
}

.third-page textarea::placeholder {
  color: #f48c8f;
  padding-top: 4px;
}

.third-page form button {
  width: 136px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #886a30;
  background-color: #fbc65f;
  border-radius: 5px;
}

.third-page .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.95;
  color: #e6d11d;
}

.third-page .modal .inner {
  display: block;
  border-radius: 10px;
  width: 300px;
  height: 212px;
  margin: 200px auto 20px;
  background-color: #382f2f;
  font-size: 17px;
  text-align: justify;
  padding: 10px;
  overflow: hidden;
}

.third-page .modal button {
  background-color: #4a6ff5;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 0px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}

.third-page footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 41px;
  max-width: 938px;
  height: 76px;
  background-color: #2d303a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 22px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.third-page footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px -2px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 154px;
  height: 40px;
}

.third-page footer .social a:active {
  border-top: 3px solid #2d303a;
}

@media (max-width: 1004px) {
  .second-page .pictures img {
    width: calc((100% - 50px)/3);
  }
}

@media (max-width: 953px) {
  div.txt.adam, div.txt.desmond {
    min-height: 63px;
  }
}

@media (max-width: 1019px) {
  .first-page .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-page .wrapper-slider {
    height: 550px;
  }
  .first-page .services .content {
    padding: 46px 41px 6px 39px;
  }
  #slide2 > img {
    display: none;
  }
  .first-page .layout {
    padding: 31px 61px 16px 40px;
  }
  .first-page .layout p {
    margin-bottom: 51px;
  }
  .first-page .phone-left img {
    width: 75%;
  }
  .first-page .phone-left {
    top: 40px;
    left: 84px;
  }
  .first-page .phone-right img {
    width: 75%;
    margin-top: 46px;
  }
  .first-page .phone-right {
    top: 87px;
    right: -52px;
  }
  .first-page .slider {
    height: 450px;
  }
  .first-page .slide2 img {
    height: auto;
    width: 775px;
  }
  .first-page .wrapper-slider .left-off {
    display: none;
  }
  .first-page .wrapper-slider .right-off {
    display: none;
  }
  .first-page .chev-left img {
    left: 30px;
    top: 307px;
  }
  .first-page .chev-right img {
    right: 12px;
    top: 308px;
  }
}

@media (min-width: 768px) {
  .first-page .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .first-page header {
    height: 71px;
  }
  .first-page .slider {
    top: 76px;
  }
  .first-page .wrapper-slider {
    height: 442px;
  }
  .first-page .navbar {
    display: none;
  }
  .first-page .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 40vh;
    font-size: 22px;
    background-color: black;
    padding: 34vh 0 26vh 70px;
  }
  .first-page .navbar ul :nth-child(2n) {
    display: none;
  }
  .first-page header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-page .burger img {
    z-index: 21;
  }
  .first-page .phone-left img {
    width: 38.9%;
  }
  .first-page .phone-left {
    top: 20px;
    left: 41px;
  }
  .first-page .phone-right img {
    width: 38%;
  }
  .first-page .phone-right {
    top: 19px;
    right: -259px;
  }
  .second-page .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .second-page .soc > ul {
    display: none;
  }
  .third-page form button {
    width: 100%;
  }
  .first-page .slider {
    border-bottom: none;
    height: 228px;
  }
  .first-page .slide2 img {
    height: auto;
    width: 378px;
  }
  .first-page .wrapper-slider .left-off {
    width: 74px;
    height: 130px;
    top: 140px;
    left: 45px;
  }
  .first-page .wrapper-slider .right-off {
    width: 127px;
    height: 72px;
    top: 165px;
    left: 181px;
  }
  .first-page .chev-left img {
    left: 11px;
    top: 168px;
  }
  .first-page .chev-right img {
    right: 7px;
    top: 168px;
  }
  .first-page .services {
    margin-top: -138px;
  }
  .second-page .pictures {
    margin: 0 22px 56px 25px;
  }
  .second-page .pictures img {
    width: calc((100% - 30px)/2);
  }
  .second-page .pictures img.p9,
  .second-page .pictures img.p10,
  .second-page .pictures img.p11,
  .second-page .pictures img.p12 {
    display: none;
  }
  .second-page .about {
    width: 100%;
  }
  .third-page form {
    width: 100%;
  }
  .third-page .contact {
    width: 100%;
  }
  body > div.third-page > footer > p {
    display: none;
  }
  .third-page footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 374px) {
  .second-page nav {
    padding: 9px 20px 19px 22px;
  }
}
/*# sourceMappingURL=style.css.map */